.profile {
	height: 450px;
	width: 500px;
	background: white;
	padding: 40px 30px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-radius: 5px;
	align-items: center;
}

.profile img {
	height: 100px;
	width: 100px;
}

.profile button {
	padding: 10px 30px;
	margin: 0 auto;
	border-radius: 5px;
	font-size: 16px;
	margin-top: 20px;
	background-color: #557153;
	color: white;
	border: none;
	cursor: pointer;
}

.details p {
	font-size: 18px;
	margin-bottom: 10px;
}

.details span {
	font-weight: 600;
}

/* @media (max-width: 480px) {
	.profile img {
		height: 60px;
		width: 60px;
	}

	.profile button {
		padding: 6px 12px;
		font-size: 12px;
		margin-top: 10px;
	}

	.details p {
		font-size: 14px;
	}
}

@media (max-width: 768px) {
	.profile {
		padding: 10px;
	}

	.profile button {
		padding: 8px 15px;
	}
} */
