form {
	height: 450px;
	width: 500px;
	background: white;
	padding: 40px 30px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-radius: 5px;
}

.header {
	text-align: center;
}

.header h1 {
	color: #557153;
	font-weight: 900;
	font-size: 40px;
}

.header p {
	font-size: 18px;
	margin-bottom: 15px;
	font-weight: 600;
}

form input {
	height: 40px;
	border-radius: 5px;
	padding: 0px 15px;
	font-size: 16px;
	margin-bottom: 10px;
}

form label {
	font-size: 18px;
	font-weight: 600;
}

form select {
	height: 40px;
	border-radius: 5px;
	padding: 0px 15px;
	font-size: 16px;
	cursor: pointer;
	/* margin-bottom: 20px; */
}

form button {
	height: 50px;
	width: 100%;
	margin: 0 auto;
	border-radius: 5px;
	font-size: 18px;
	margin-top: 20px;
	background-color: #557153;
	color: white;
	border: none;
	cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

@media only screen and (max-width: 600px) {
	form {
		height: 350px;
		width: 400px;
		padding: 20px;
	}

	.header h1 {
		color: #557153;
		font-weight: 900;
		font-size: 30px;
	}
	/* form {
		width: 100%;
		padding: 20px;
	}

	.header h1 {
		font-size: 30px;
	}

	.header p {
		font-size: 16px;
		margin-bottom: 10px;
	}

	form input,
	form select {
		font-size: 14px;
		height: 35px;
	}

	form button {
		height: 40px;
		font-size: 16px;
		margin-top: 15px;
	} */
}

@media (max-width: 480px) {
	form {
		height: auto;
		width: 100%;
		padding: 20px;
	}

	.header h1 {
		font-size: 24px;
	}

	.header p {
		font-size: 14px;
		margin-bottom: 10px;
	}

	form input,
	form select {
		font-size: 14px;
		height: 30px;
	}

	form button {
		height: 35px;
		font-size: 14px;
		margin-top: 10px;
	}
}
